@model MeetingManage.ViewModels.Meeting.MeetingsViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>新增會議</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Applicant" class="control-label"></label>
                <input asp-for="Applicant" class="form-control" />
                <span asp-validation-for="Applicant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Room" class="control-label"></label>
                <select class="form-control" id="RoomSelect" name="Room"></select>
                <span asp-validation-for="Room" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event" class="control-label"></label>
                <input asp-for="Event" class="form-control" />
                <span asp-validation-for="Event" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" type="date" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="STime" class="control-label"></label>
                <input asp-for="STime" class="form-control" type="time" />
                <span asp-validation-for="STime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ETime" class="control-label"></label>
                <input asp-for="ETime" class="form-control" type="time" />
                <span asp-validation-for="ETime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remarks" class="control-label"></label>
                <input asp-for="Remarks" class="form-control" />
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="新增" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">返回列表</a>
</div>

@section Scripts {
<script src="~/js/Meeting/MeetingCreate.js"></script>
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}